@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvido su Contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electronico para poder reestablecer su contraseña.
</p>

