@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña Actualizada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña se a actualizado. Por favor haz <a asp-page="./Login">click aqui</a> para poder ingresar.
</p>
