<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@Titulo</li>
    </ol>
</nav>

@code {
    [Parameter]public string Titulo { get; set; }
}
