@inherits LayoutComponentBase

<div class="sidebar-ContentAdmin">
    <NavMenuContentAdmin />
</div>

<div class="main-ContentAdmin">
    <div class="top-row px-4 auth">
        <h4 class="titulo-Blanco">Bienvenido al sistema administrador</h4>
        @*<LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>