@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="EnlacesLoginDisplay" href="authentication/profile">Bienvenido @context.User.Identity.Name!</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn EnlacesLoginDisplay" href="authentication/register">Register</a>
        <a class="btn EnlacesLoginDisplay" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
