@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ZF Auditorias de Calidad</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Auditor, Administrador">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Auditorias">
                    <span class="oi oi-plus" aria-hidden="true"></span> Auditorias
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrador">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PuntosAuditoria">
                    <span class="oi oi-plus" aria-hidden="true"></span> Puntos de Auditoría
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Observaciones">
                    <span class="oi oi-plus" aria-hidden="true"></span> Observaciones
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Importar">
                    <span class="oi oi-plus" aria-hidden="true"></span> Importar
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Auditor, Administrador">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="#" @onclick="BeginSignOut">
                    <span class="oi oi-x" aria-hidden="true"></span> Cerrar Sesión
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
