@page "/PuntosAuditoria"
@inject IRepositorio repositorio

<div class="form-group">
    <a class="btn btn-info" href="">Nuevo Punto Auditoria</a>
</div>

<ListadoGenerico Listado="ListadoPuntosAuditoria">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListadoPuntosAuditoria)
                {
                    <tr>
                        <td>
                            <a href="Auditorias/editar/@item.ID" class="btn btn-success"><ion-icon name="create"></ion-icon></a>
                            @*<a href="Auditorias/editar/@item.ID" class="btn btn-danger"><ion-icon name="trash"></ion-icon></a>*@
                            <button @onclick="@(() => EliminarPuntoAuditoria(item))" class="btn btn-danger"><ion-icon name="trash"></ion-icon></button>
                        </td>
                        <td>@item.Descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>
<Confirmacion MostrarConfirmacion="Mostrar"
              Titulo="@Titulo"
              onCancel="CerrarConfirmacion"
              onConfirm="EliminarConfirmado">
    <ChildContent>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <input readonly class="form-control" value="@PuntoAuditoriaTexto" />
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</Confirmacion>

@code {
    public List<PuntoAuditoria> ListadoPuntosAuditoria { get; set; }
    private PuntoAuditoria puntoAuditoriaEliminar;
    private bool Mostrar = false;
    private string Titulo = "";
    private string PuntoAuditoriaTexto = "";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


    protected async override Task OnInitializedAsync()
    {
        var responseHttpPuntosAuditoria = await repositorio.Get<List<PuntoAuditoria>>("api/PuntosAuditoria");
        ListadoPuntosAuditoria = responseHttpPuntosAuditoria.Response;
    }

    private async Task CerrarConfirmacion()
    {
        Titulo = "";
        Mostrar = false;
    }

    private async Task EliminarConfirmado()
    {
        //await Http.DeleteAsync($"api/PuntosAuditoria/{ puntoAuditoriaEliminar.ID }");
    }

    private void EliminarPuntoAuditoria(PuntoAuditoria item)
    {
        PuntoAuditoriaTexto = item.Descripcion;
        Titulo = "¿Esta seguro de eliminar este punto de auditoria?";
        puntoAuditoriaEliminar = item;
        Mostrar = true;
    }


}